.el-head-container{
    display: flex;
    justify-content: space-between;
    padding: 25px;
}
.el-details-container{
    display: flex;
    column-gap: 15px;
    align-items: center;
}
.table{
    text-align: center;
    display: flex;
    width: 100vw;
    justify-content: center;
}
.table-row{
    width: 90vw;
}
tr{
    border-bottom: solid;
}
.table-row {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  .table-row th,
  .table-row td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  .table-row th {
    background-color: #4CAF50;
    color: white;
  }
  
  .table-row tr:hover {
    background-color: #f1f1f1;
  }
  
  .table-row tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .table-row tr:nth-child(odd) {
    background-color: #ffffff;
  }
  .add-employee-button{
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 14px;
    color: #ffffff;
    height: 40px;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 2px;
    background-color: #0b69ff;
    border-radius: 8px;
    border: none;
    outline: none;
    cursor: pointer;
  }