.image-style-logo{
  width: 150px;
  height: 150px;
}
.action-button-edit {
  font-family: 'Roboto';
    font-weight: bold;
    font-size: 14px;
    color: #ffffff;
    height: 40px;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 2px;
    background-color: #0bff1f;
    border-radius: 8px;
    border: none;
    outline: none;
    cursor: pointer;
}
.action-button-delete {
  font-family: 'Roboto';
    font-weight: bold;
    font-size: 14px;
    color: #ffffff;
    height: 40px;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 2px;
    background-color: red;
    border-radius: 8px;
    border: none;
    outline: none;
    cursor: pointer;
}
